@import "../omarchy/current/theme/waybar.css";

@define-color base      #24273a;
@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color mauve     #c6a0f6;
@define-color maroon    #ee99a0;

* {
  color: @lavendar;

  border-radius: 0;
  border: none;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 18px;
  min-height: 0;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  all: initial;
  color: @base;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.active * {
    color: @mauve;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
    color: @blue;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @blue;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
