[Unit]
Description=Reconnect Active Directory resources
Documentation=journalctl --user -u ad-connect.service
ConditionPathExists=%h/.config/krb5/user.keytab

[Service]
Type=oneshot
EnvironmentFile=-/etc/environment.d/27-Traap.conf
ExecStart=%h/git/dotfiles/bash/bin/adConnect --noninteractive
StandardInput=null
TimeoutStartSec=2min
