[Unit]
Description=Reconnect Active Directory resources
Documentation=man:journalctl(1)
ConditionPathExists=%h/.config/krb5/user.keytab

[Service]
Type=oneshot
ExecStart=%h/git/dotfiles/bash/bin/adConnectService
StandardInput=null
TimeoutStartSec=2min
